<div class="item">
    <div class="inner load">
        <div class="icon">
            <img src="../images/feed.svg" alt="">
        </div>

        <div class="action">
            <a href="{%link%}">
                <img src="../images/pin.svg" alt="">
            </a>
        </div>

        <div class="content">
            <h2>Bla bla bla</h2>
            <p>Brazil</p>
            <div class="footer">
                Thu 9 Jun, 2016<br>
                (54 days)
            </div>
        </div>
    </div>
</div>