<!DOCTYPE html>
<html>
<head>
    <title>Slim RSS Feed</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../js/slimfeed.js"></script>
    <script type="text/javascript" src="../js/popoup.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/popup.css">
</head>
<body>
    <div class="header clear">
        <h1>ALL FEEDS</h1>

        <div class="actions">
            <a id="options" href="#">
                <i class="icon-settings"></i>
            </a>
            <a id="about" href="#">
                <i class="icon-about"></i>
            </a>
        </div>
    </div>

    <div class="main">
        <div class="no-feeds">
            <div class="img">
                <img src="../images/feed.svg#grey" alt="feeds">
            </div>
            <p>No feeds</p>
        </div>
    </div>

    <div class="footer">
        <span class="status">1 subscription</span>
        <button id="show-subscriptions" class="btn">Show subscriptions</button>
    </div>
</body>
</html>