<!DOCTYPE html>
<html>
    <head>
        <title>Slim RSS Feed</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="../js/popoup.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/popup.css">
    </head>
    <body>
        <h1 class="header">ALL FEEDS</h1>

        <div class="main">
            <!--// -->
            <div class="item">
                <div class="icon">
                    <img src="../images/feed.svg" alt="">
                </div>

                <div class="action">
                    <a href="#">
                        <img src="../images/pin.svg" alt="">
                    </a>
                </div>

                <div class="content">
                    <h2>Bla bla bla</h2>
                    <p>Brazil</p>
                    <div class="footer">
                        Thu 9 Jun, 2016<br>
                        (54 days)
                    </div>
                </div>
            </div>
            <!--// -->
            <!--// -->
            <div class="item">
                <div class="icon">
                    <img src="../images/feed.svg" alt="">
                </div>

                <div class="action">
                    <a href="#">
                        <img src="../images/pin.svg" alt="">
                    </a>
                </div>

                <div class="content">
                    <h2>Bla bla bla</h2>
                    <p>Brazil</p>
                    <div class="footer">
                        Thu 9 Jun, 2016<br>
                        (54 days)
                    </div>
                </div>
            </div>
            <!--// -->
            <!--// -->
            <div class="item">
                <div class="icon">
                    <img src="../images/feed.svg" alt="">
                </div>

                <div class="action">
                    <a href="#">
                        <img src="../images/pin.svg" alt="">
                    </a>
                </div>

                <div class="content">
                    <h2>Bla bla bla</h2>
                    <p>Brazil</p>
                    <div class="footer">
                        Thu 9 Jun, 2016<br>
                        (54 days)
                    </div>
                </div>
            </div>
            <!--// -->
            <!--// -->
            <div class="item">
                <div class="icon">
                    <img src="../images/feed.svg" alt="">
                </div>

                <div class="action">
                    <a href="#">
                        <img src="../images/pin.svg" alt="">
                    </a>
                </div>

                <div class="content">
                    <h2>Bla bla bla</h2>
                    <p>Brazil</p>
                    <div class="footer">
                        Thu 9 Jun, 2016<br>
                        (54 days)
                    </div>
                </div>
            </div>
            <!--// -->
            <!--// -->
            <div class="item">
                <div class="icon">
                    <img src="../images/feed.svg" alt="">
                </div>

                <div class="action">
                    <a href="#">
                        <img src="../images/pin.svg" alt="">
                    </a>
                </div>

                <div class="content">
                    <h2>Bla bla bla</h2>
                    <p>Brazil</p>
                    <div class="footer">
                        Thu 9 Jun, 2016<br>
                        (54 days)
                    </div>
                </div>
            </div>
            <!--// -->
            <!--// -->
            <div class="item">
                <div class="icon">
                    <img src="../images/feed.svg" alt="">
                </div>

                <div class="action">
                    <a href="#">
                        <img src="../images/pin.svg" alt="">
                    </a>
                </div>

                <div class="content">
                    <h2>Bla bla bla</h2>
                    <p>Brazil</p>
                    <div class="footer">
                        Thu 9 Jun, 2016<br>
                        (54 days)
                    </div>
                </div>
            </div>
            <!--// -->
            <!--// -->
            <div class="item">
                <div class="icon">
                    <img src="../images/feed.svg" alt="">
                </div>

                <div class="action">
                    <a href="#">
                        <img src="../images/pin.svg" alt="">
                    </a>
                </div>

                <div class="content">
                    <h2>Bla bla bla</h2>
                    <p>Brazil</p>
                    <div class="footer">
                        Thu 9 Jun, 2016<br>
                        (54 days)
                    </div>
                </div>
            </div>
            <!--// -->
            <!--// -->
            <div class="item">
                <div class="icon">
                    <img src="../images/feed.svg" alt="">
                </div>

                <div class="action">
                    <a href="#">
                        <img src="../images/pin.svg" alt="">
                    </a>
                </div>

                <div class="content">
                    <h2>Bla bla bla</h2>
                    <p>Brazil</p>
                    <div class="footer">
                        Thu 9 Jun, 2016<br>
                        (54 days)
                    </div>
                </div>
            </div>
            <!--// -->
            <!--// -->
            <div class="item">
                <div class="icon">
                    <img src="../images/feed.svg" alt="">
                </div>

                <div class="action">
                    <a href="#">
                        <img src="../images/pin.svg" alt="">
                    </a>
                </div>

                <div class="content">
                    <h2>Bla bla bla</h2>
                    <p>Brazil</p>
                    <div class="footer">
                        Thu 9 Jun, 2016<br>
                        (54 days)
                    </div>
                </div>
            </div>
            <!--// -->
        </div>
        <div class="footer">
            teste <button class="btn">test</button>
        </div>
    </body>
</html>