<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/subscriptions.css">
</head>
<body>
    <div class="sub-main">
        <div class="sub-feeds">feeds</div>

        <div class="sub-size-drag"></div>

        <div class="sub-list-items">
            <div class="sub-header">header</div>
            <div class="sub-content">list items</div>
        </div>

        <div class="sub-size-drag"></div>

        <div class="sub-view">
            <div class="sub-header">header</div>
            <div class="sub-content">
                <!-- iframe src=""></iframe -->
                <div class="no-feeds">
                    <div class="img">
                        <img src="../images/feed.svg#grey" alt="feeds">
                    </div>
                    <p>Select a feed</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>